POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

USER_DB_NAME=userservice_db
RESTAURANT_DB_NAME=restaurantservice_db
ORDER_DB_NAME=orderservice_db

JWT_SECRET=super-secret-key-super-secret-key-123456